.button {
  width: 110px;
  font-family: inherit;
  font-weight: 700;
  color: var(--clr-white);
  background-color: var(--clr-aqua-blue-500);
  border: none;
  cursor: pointer;

  flex-shrink: 0;
  padding-block: 0.75rem;
  font-size: clamp(0.85rem, 2vw, 1rem);
  border-radius: 0.35rem;

  white-space: nowrap;
  overflow: hidden;
  transition: transform 0.35s ease, background-color 0.25s ease;
}

.button:hover {
  background-color: var(--clr-aqua-blue-250);
}

.button:active {
  transform: scale(0.95);
}

.button--copied {
  background-color: var(--clr-purple-900);
}

.button--copied:hover {
  background-color: var(--clr-purple-800);
}
