.link {
  font-family: inherit;
  text-decoration: none;
  color: var(--clr-purple-1000);
  cursor: pointer;
  transition: color 0.35s ease;
}

.link--default {
  font-size: clamp(0.95rem, 2vw, 1.05rem);
  font-weight: 600;
  color: var(--clr-gray-600);
}

.link-default:hover {
  color: var(--clr-purple-1000);
}

.link--primary {
  font-size: clamp(1rem, 2vw, 1.15rem);
  font-weight: 500;
  transition: opacity 0.35s ease;
}

.link--primary:hover {
  opacity: 0.75;
}

.link--secondary {
  font-size: clamp(0.85rem, 2vw, 0.95rem);
  font-weight: 400;
  color: var(--clr-gray-500);
  transition: color 0.35s ease;
}

.link--secondary:hover {
  color: var(--clr-aqua-blue-500);
}
