.notification {
  z-index: 9999;
  position: fixed;
  top: 2rem;
  left: 50%;
  translate: -50% 0;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: #4b406bd3;
  backdrop-filter: blur(1rem);
  color: var(--clr-white);
  display: flex;
  align-items: center;
  gap: 1rem;

  width: min(500px, 90%);
}

.notification__message {
  font-size: clamp(0.85rem, 1vw, 1rem);
  font-weight: 400;
}

.notification__icon {
  height: 1.5rem;
  width: auto;
}

.notification__icon path {
  fill: var(--clr-white);
}
