.button {
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  color: var(--clr-white);
  background-color: var(--clr-aqua-blue-500);
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  font-size: clamp(0.95rem, 2vw, 1.15rem);
  padding: clamp(0.85rem, 2vw, 1rem) clamp(1.5rem, 3vw, 2.5rem);
  border-radius: 0.35rem;

  white-space: nowrap;
  overflow: hidden;
  transition: transform 0.35s ease, background-color 0.35s ease;
}

.button:hover {
  background-color: var(--clr-aqua-blue-250);
}

.button:active {
  transform: scale(0.95);
}

.button:disabled {
  background-color: var(--clr-aqua-blue-100);
}
