.shorten-pattern--desktop,
.shorten-pattern--mobile,
.boost-pattern--desktop,
.boost-pattern--mobile {
  pointer-events: none;
  max-height: 100%;
  z-index: -1;
}

.shorten-pattern--desktop,
.boost-pattern--desktop {
  display: block;
  min-width: 100%;
  inset: 0;
}

.shorten-pattern--mobile,
.boost-pattern--mobile {
  display: none;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .shorten-pattern--desktop,
  .boost-pattern--desktop {
    display: none;
  }

  .shorten-pattern--mobile,
  .boost-pattern--mobile {
    display: block;
  }
}
