@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-width {
  @apply px-7 lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0; 
}

.footer {
  place-items: center;
}

.boost {
  background-color: hsl(257, 27%, 26%);
  height: 17.188rem;
}

.shortener {
  background-color: hsl(257, 27%, 26%);
  height: 17.188rem;
  border-radius: 8px;
}

.shortener img {
  height: 17.188rem;
  @apply w-full rounded-lg;
}

.shortener .from {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.boost img {
  height: 17.188rem;
  @apply w-full;
}

.btn-nav:hover {
color: hsl(260, 8%, 14%);
}

.shortener-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.boost .boost-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start {
  @apply bg-cyan-500 py-1 px-4 rounded-full text-white hover:opacity-75 transition-all duration-150 cursor-pointer;
}

.shorten-btn {
  @apply bg-cyan-500 py-1 px-4 rounded-lg text-white hover:opacity-75 transition-all duration-150 cursor-pointer;
}

.btn-footer {
@apply hover:opacity-75 transition-all duration-150 cursor-pointer;
}

p {
  line-height: 1.9;
}

@media (min-width: 1024px){

  .card article:nth-child(3) {
    transform: translateY(2rem);
  }
  
  .card article:last-child {
    transform: translateY(4rem);
  }
  
.line {
  @apply bg-cyan-500 h-2 w-full absolute;
  top: 50%;
}

}

