@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-width {
  @apply px-5 lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
}



p {
  line-height: 1.6;
}

